

.image-radius {
  border-radius: 50%;
}
/**
  Général
**/

.color-navbar {
  background-color: #006143;
}

/**
  Page login
**/

.card-login {
  width: 36rem;
}

.card-equipe {
  width: 100%;
}

/**
  Page Accueil
**/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#root {
  flex-grow: 1;
  width: 100%;
  background-image: url('../public/imageaccueil.jpg');
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  margin: 0 auto;
}

#footer {
  background-color: #006143;
  position: relative;
  bottom: 0;
  width: 100%;
}

/** Page Match **/

#listeAction {
  overflow-y: auto;
  max-height: 70vh;
}

.img-skin {
  height: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
